@model ElectricImpHackathon.Models.SongTrack

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>ImpTune - New Tune</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.SongName)
        @Html.TextBoxFor(x => x.SongName)
    </div>
    <div>
        @Html.LabelFor(x => x.Data)
        @Html.TextBoxFor(x => x.Data)
    </div>
    
    <input type="submit" value="Save Song"/>
}
